@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  min-height: 100vh;
  width: 100vw;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  padding: 1em 0em;
  border: 1px solid black;
}

nav {
  border: 1px solid black;
  width: 100%;
  padding: 1em 0em;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

button {
  padding: 1em 2em;
  border: 1px solid black;
  border-radius: 0.8em;
  font-size: 0.5em;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 1em 0em;
  border: 1px solid black;
}

img {
  width: 30%;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1em;
  padding: 2em 0em;
  border: 1px solid black;
}